body {
    background-color: #f5f6f8;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}

.header {
    background-color: #38414a;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    margin-left: 0px;
    width: 100%; 
}

h2 {
    text-align: center;
    text-transform: uppercase;
    text-indent: .2em;
    color: #fff;
}


.body {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    margin-top: 68px;
}

.nav {
    background-color: #fff;
    height: 750px;
    width: 10%;
    padding: 15px 15px;
    margin-left: 0px;
    margin-right: 50px;
}

.cards {
    width: 85%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%; 
    grid-template-rows: 30px 150px 115px 115px 115px 115px;
    grid-gap: 10px;
    margin-top: 30px;
    margin-right: 40px;
    justify-content: center;
}

.card {
    background-color: #fff;
    box-shadow: rgba(39, 39, 39, 0.1) 0 0 15px;
    border: .2px solid #f3f3f3;
    padding: 15px 15px;
}

#t1 {
    grid-row: 1 / span 5;
    grid-column: 1;
}

#c1 {
    grid-row: 2;
    grid-column: 1;
}

#c2 {
    grid-row: 2;
    grid-column: 2;
}

#c3 {
    grid-row: 2;
    grid-column: 3;
}

#c4 {
    grid-row: 2;
    grid-column: 4;
}

#c5 {
    grid-row: 2;
    grid-column: 5;
}

#c6 {
    grid-row: 3 / span 2;
    grid-column: 1 / span 2;
}

#c7 {
    grid-row: 3 / span 2;
    grid-column: 3;
}

#c8 {
    grid-row: 3 / span 2;
    grid-column: 4 / span 2;
}

#c9 {
    grid-row: 5 / span 2;
    grid-column: 1 / span 2;
}

#c10 {
    grid-row: 5 / span 2;
    grid-column: 3 / span 3;
}
